body{
    color: rgba(249, 225, 15, 0.766);
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px white; 
    padding: 20px;
}

section{
    background: #6c6464
    padding-bottom: 80px;
}